Links

<a href="#" class="link--arrow"> Aprende más </a>

Badges

<span class="badge badge--primary"> Saber más </span>
<span class="badge badge--primary badge--small"> Saber más </span>
<span class="badge badge--secondary badge--small"> Saber más </span>

Lists

<ul class="list list--tick">
  <li class="list__item">Item 1</li>
  <li class="list__item">Item 2</li>
  <li class="list__item">Item 3</li>
</ul>

Buttons

<button class="btn btn--inline btn--inline--acent">button style 1</button>
<button class="btn btn--block">button style 2</button>
<button class="btn btn--inline btn--secondary">button style 3</button>

Input + button

<div class="shadows input-group">
  <input type="text" class="ipt" placeholder="Enter your email" />
  <button class="btn btn--inline btn--inline--acent">Sign up!</button>
</div>

Cards
<div class="shadows card">
  <header class="card__header card--primary">
    Consultoría personalizada
  </header>
  <div class="card__body">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi sed
    incidunt dolorum fugiat, aliquam id sunt atque cumque perspiciatis suscipit
    enim eveniet, voluptas tenetur quaerat cupiditate minima dicta. Minus,
    quasi?
  </div>
</div>
